<% if(insta){ %>
    <% insta.forEach((i)=>{ %>
        <div class="iframe-wrapper">
            <header class="iframe">
                <img src="/img/instagram.png" alt="">
            </header>
            <%-i.html%>
        </div>
    <% }) %>
<% } %>
<% if(soundcloud){ %>
    <% soundcloud.forEach((url, i)=>{ %>
        <div data-url='<%=url%>' class="putTheWidgetHere iframe-wrapper" id="id<%=i%>">
            <header class="iframe">
                <img src="/img/soundcloud.png" alt="">
            </header>
        </div>
    <% }) %>
<% } %>
<% youtube.forEach((url)=>{ %>
    <iframe src="https://www.youtube.com/embed/<%=url%>">
    </iframe>
  <% }) %>