<div class="filter-btn">
    <img src="/img/filter.png" alt="">
</div>
<div class="filter-screen">
    <h2>Filter</h2>
    <div class="sort">
        <h3>Sort by</h3>
        <input type="radio" id="recent" name="sort" value="huey"
        checked>
        <label for="recent">Recent</label>
        <input type="radio" id="trending" name="sort" value="huey"
        checked>
        <label for="trending">Trending</label>
    </div>
    <div class="keywords">
        <button>Instagram</button>
        <button>Youtube</button>
        <button>Ticketmaster</button>
    </div>
</div>
