<div class="filter-btn">
    <img src="/img/filter.png" alt="">
</div>
<div class="filter-screen">
    <h2>Filter</h2>
    <div class="sort">
        <h3>Sort by</h3>
    </div>
    <div class="keywords">
        
    </div>
</div>
