<ul class="related-list">
    <% related.forEach((artist)=> { %>
      <li class="related-item"><a href="/artist/<%= artist.spotifyId %>&<%= artist.id %>">
        <% if(artist.img){ %>
            <div class="related-item-img">
                <img src="<%= artist.img %>">
            </div>
        <% } else{ %>
            <div class="related-item-img">
                <img src="/img/placeholder.png">
            </div>	
        <% } %>
        <h4 class="related-item-name"><%= artist.name %></h4></a>
    </li>
    <% }) %>
  </ul>
  