<div class="following">
    <h2>Following</h2>
    <ul class="list">
        <div class="addNew">
            <a href="/search">
                <img src="/img/plus.png" alt="">
            </a>
            
        </div>
        <p>Get Started</p>
    </ul>
</div>