<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <script defer src="/js/resizeScreen.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script id="twitter-wjs" type="text/javascript" async defer src="//platform.twitter.com/widgets.js"></script>
    <% if(script) {%>
    <script src="/js/main.js" defer></script>
    <% } %>
    <script src="https://kit.fontawesome.com/2f361310f3.js"></script>
    <script async src="//www.instagram.com/embed.js"></script>
    <script src="https://connect.soundcloud.com/sdk/sdk-3.3.2.js"></script>
    <link rel="stylesheet" href="/styles/keyframes.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/search.css">
    <link rel="stylesheet" href="/styles/artist.css">
    <link rel="stylesheet" href="/styles/filter.css">
</head>