<form class="search-bar" action="/search/result" method="POST">
    <input id="search" name="search" type="text" placeholder="Search Artist Name">
    <button class="btn btn-save" type="submit">Search</button>
</form>
<div class="search-results"></div>