<header class="search">
    <h2>Search</h2>
    <div class="input-container">
        <input id="search" name="search" type="text" placeholder="Search Artist Name" autocomplete="off">
        <i class="fas fa-times"></i>
    </div>
</header>
<section class="search-main">

</section>