/* Artist page
------------------------------ */
/* Header */
.artist-header {
    height: 50vh;
    position: relative;
  }
  .artist-header i.fas.fa-chevron-left{
    font-size: 25px;
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: 5000000;
    color: white;
  }
  .artist-header-img {
    width: 100%;
    z-index: -10
  }
  .artist-profile-image{
    height: 100%;
    position: relative;
  }
  .artist-profile-image .image-container{
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .artist-profile-image .top-tracks-container{
    padding-top: 15%;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.7);
  }
  
  .artist-profile-image .top-tracks-container h2{
    text-align: center;
    margin-bottom: 20px;
  }
  .artist-profile-image .top-tracks-container ul{
    max-height: 58%;
    overflow: hidden;
  }
  .artist-profile-image .top-tracks-container ul li{
    display: flex;
    width: 100%;
    margin: 10px;
    color: rgba(255,255,255,.5);
  }
  .artist-profile-image .top-tracks-container ul li p{
    font-size: 17px;
  }
  .artist-profile-image .top-tracks-container ul li p.song{
    color: white;
    width: 85%;
    text-align: left;
    padding-left: 5%;
  }
  
  .artist-profile-image .top-tracks-container ul li .moreInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 5px;
  }
  
  .artist-profile-image .top-tracks-container ul li .moreInfo i{
    margin: 2px;
  }
  
  .artist-header .info{
    position: absolute;
    color: white;
    margin: auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 15%;
  }
  .artist-header .bottom-shadow{
    background-image: linear-gradient(transparent, var(--main-bg-color));
    width: 100%;
    position: absolute;
    height: 70%;
    bottom: -1%; 
    z-index: 1000010;
  }
  .artist-header-list {
    text-align: center;
    color: var(--main-font-color);
  }

  .header-section.info,
  .header-section.bio{
    opacity: 0;
    z-index: 1;
  }
.header-section.topTracks.visible,
.header-section.bio.visible,
.header-section.info.visible{
  opacity: 1!important;
  z-index: 1000000000!important;
}
.header-section.topTracks{
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
}
.header-section.topTracks .track{
  display: flex;
  width: 85%;
  justify-content: space-between;
  font-size: 20px;
  margin: 14px 0;
}

.header-section.topTracks .track audio{
  display: none;
  width: 1px;
  height: 1px;
}

.header-section.topTracks .track p:nth-of-type(2){
  font-size: 12px;
}

  .artist-title {
    font-size: 3.5rem;
    text-align: center;
    margin: 0 2.5rem;
    margin-bottom: .5rem;
  }
  .artist-header nav.header{
    position: absolute;
    z-index: 2000002;
    color: white;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  .artist-header nav.header i{
    margin: 2px;
    font-size: 12px;
    opacity: .1;
    transition: .25s;
  }
  
  .artist-header nav.header i.visible{
    opacity: 1;
  }
  .click-left-overlay{
    width: 20%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 10000000000000000000001;
  }
  .click-right-overlay{
    width: 20%;
    z-index: 10000000000000000000001;
    height: 100%;
    position: absolute;
    top:0;
    right:0;
  }
  .header-section{
    z-index: 1;
    transition: .25s;
  }
  
  .header-section.bio{
    color: white;
    width: 100%;
    margin: auto;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    background: rgba(0,0,0,0.7);
    left: 0;
    height: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  }
  .header-section.bio p{
    width: 60%;
    margin: auto;
  }
  .header-section.visible{
    z-index: 1000005;
    opacity: 1;
  }
  .header-section.info.visible{
    z-index: 1000015;
  }
  /* Related 
------------------------------ */
.related-artists {
    text-align: left;
    /* background-color: var(--main-bg-color); */
    margin-top: 3rem;
  }
  
.related {
    padding: .5rem;
    z-index: 1000
}

.related-title {
    margin-bottom: .75rem;
}

.related-list {
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    width: 100%;
}

.related-item {
    margin-right: .5rem;
    width: 100%;
    text-align: center;
    display: block;
}

.related-item:first-of-type {
    margin-left: 1rem;
}

.related-item-name {
    margin: .5rem 0;
}

.related-item a {
    color: var(--main-font-color);
}

.related-item-img {
    height: 5.8rem;
    border-radius: 100px;
    border: solid 3px var(--color-btn);
    width: 5.8rem;
    margin-right: .5rem;
    overflow: hidden;
}
.related-item-img.border{
  border: 4px solid #7f6bff;
}
.related-item-img img{
    width: 100%;
}

.related-item-img:hover, .related-item-img:focus {
    border-color: var(--color-btn-hover);
}
/* end related */

.artist-main {
    overflow: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "playlists"
    "tickets"
    "soundcloud";
    grid-gap: 1.5rem;
}
section#feed{
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
iframe{
  border: none;
  width: 100%;
}
.iframe-wrapper {
  margin: 20px auto;
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  width: 90%;
  box-shadow: 0px 0px 2px 2px rgba(255,255,255,0.15);
  background: white;
}
.iframe-wrapper header img{
  width: 60px;
}
.iframe-wrapper header{
  background: white;
  padding: 10px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.loading p{
    font-size: 24px;
    margin-right: 10px;
}

.loading img{
    width: 30px;
}
a.btn.btn-follow{
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  border-width: 2px;
  transition: .5s;
}
a.btn.btn-follow.following{
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  border: solid 2px #7F6BFF;
}

header.iframe .artist{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.iframe .artist img{
  width: 50px;
  border-radius: 50%;
}
header.iframe .artist p{
  font-weight: bold;
  margin-left: 10px;
}
header.iframe img{
  width: 30px;
}