.following{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.following p{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
}
.following .addNew{
    background: var(--second-bg-color);
    width: 80px;
    height: 80px;
    font-size: 20px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border-radius: 50%;
}
.following .addNew a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.addNew img{
    width: 25px;
}