main.fadeAway{
    transform: translate(0,-50%);  
    opacity: 0;
    /* animation: fadeAway forwards 1s; */
}

/* @keyframes fadeAway{
    to{
        opacity: 0;
        transform: translate(0, -50%);
    }
} */

main.artist-page.fadeAway{
    transform: translate(0,0);
    opacity: 0.95;
}
main.artist-page img,
main.artist-page h4{
    transition: .5s;
}

main.artist-page.fadeAway img,
main.artist-page.fadeAway .header-section.info,
main.artist-page.fadeAway .image-container{
    opacity: 0;
}
main.artist-page.fadeAway h4{
    opacity: 0;
    transform: translate(0,30%);
}
