:root{
    --main-bg-color: #171717;
    --gradient: linear-gradient(rgba(200,200,200,0), #171717);
    --second-bg-color: #3E3E3E;
    --main-font-color: white;
    --color-dark: #000;
    --color-btn: #fff;
    --color-btn-hover: slateblue;
    --color-tickets: cornflowerblue;
    --color-tickets-hover: slateblue;
}

.padding {
  padding: 0 1rem;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background: var(--main-bg-color);
  font-size: 12px;
  font-family: sans-serif;
}
main,
main>*{
    transition: .5s;
}

h2 {
  font-size: 1.5rem;
  color: #fff;
}
a{
  color: white;
}

/* Buttons 
------------------------------ */
.btn {
  font-size: 1rem;
  color: var(--color-btn);
  border: solid 1px var(--color-btn);
  border-radius: 40px;
  padding: .2rem .85rem;
}


.btn-save {
  background: none;
  padding: .2rem 1.75rem;
}

.btn-login {
  padding: .75rem 3rem;
}

.btn-login:hover, .btn-login:focus, .btn-album:hover, .btn-album:focus {
  color: mediumseagreen;
  border-color: mediumseagreen;
}

#container{
    width: 100%;
}

/* Navigation 
------------------------------*/
.navigation {
  /* background: var(--second-bg-color); */
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  overflow: scroll;
}

.navigation-item {
  opacity: .2;
  padding: 1.5rem 1.2rem;
}

.navigation-item:hover, .navigation-item:focus {
  /* background-color: var(--color-btn-hover); */
  opacity: 1;
}

.navigation-item a {
  color: var(--main-font-color);
  font-size: 1rem;
}
/* end nav */

/* Invisible Scrollbar 
------------------------------ */
.navigation::-webkit-scrollbar,
.related-list::-webkit-scrollbar,
.albums-list::-webkit-scrollbar,
.following ul.list::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

/* Track */
.navigation::-webkit-scrollbar-track,
.related-list::-webkit-scrollbar-track,
.albums-list::-webkit-scrollbar-track {
  width: 1px; 
  height: 1px;
}
 
/* Handle */
.navigation::-webkit-scrollbar-thumb,
.related-list::-webkit-scrollbar-thumb,
.albums-list::-webkit-scrollbar-thumb {
  width: 1px; 
  height: 1px;
}

/* Spotify Albums 
------------------------------ */
.albums {
  grid-area: playlists;
  background-color: #000;
  padding: 1rem 0;
}

.albums-title {
  font-size: 1.5rem;
  color: var(--main-font-color);
  margin-left: 1rem;
}

.albums-list {
  padding: 1rem 0;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  width: 100%;
}

.albums-item {
  text-align: center;
  margin-right: .75rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  transition: .25s;
}
.albums-item.highlight{
  transform-origin: center;
  transform: scale(1.1);
}
.albums-item.highlight img{
  border: white solid 4px;
}
.albums-item:first-of-type {
  margin-left: 1rem;
}

.albums-item:hover .albums-name, .albums-item:hover .albums-followers, .albums-item:focus .albums-name, .albums-item:focus .albums-followers {
  /* color: var(--color-btn-hover); */
}

.albums-item:hover .albums-item-img {
  border: 1px solid var(--color-btn-hover);
}

.albums-item-img{
  height: 8rem;
  width: 8rem;
  background-color: yellow;
  margin-bottom: .5rem;
  border: 1px solid var(--color-dark);
}

.albums-name {
  color: var(--main-font-color);
  margin-bottom: .75rem;
  font-size: .8rem;
  font-weight: normal;
}

.albums-followers {
  color: var(--main-font-color);
  margin: .75rem 0;
}
/* end spotify lists */

/* ticketmaster */
.ticketmaster {
  grid-area: tickets;
}

.ticketmaster-header {
}

.ticketmaster-title {
  color: var(--main-font-color);
}

.ticketmaster-img {
  background-color: orange;
  width: 100%;
}

.ticketmaster-btn {
  color: var(--color-btn);
  background-color: var(--color-tickets);
  padding: 0.5rem 1rem;
  display: block;
  margin-top: -.25rem;
}

.ticketmaster-btn:hover, .ticketmaster-btn:focus {
  color: var(--color-btn);
  background-color: var(--color-tickets-hover);
}
/* end ticketmaster */

/* soundcloud */
.soundcloud {
  grid-area: soundcloud;
}

.soundcloud-header {
  border-bottom: solid 1px #fff;
  padding-bottom: 1rem;
  margin-bottom: .5rem;
}

.soundcloud-header-img {
  border: solid 1px #fff;
  border-radius: 100px;
  width: 15%;
  display: inline-block;
  margin-bottom: -2rem;
}

.soundcloud-header-title {
  display: inline-block;
  color: var(--main-font-color);
}

.soundcloud-header-p2 {
  margin-left: 4.75rem;
}

.soundcloud-header-date, .soundcloud-header-views {
  color: var(--main-font-color);
  display: inline;
}

.soundcloud-title {
  margin: .5rem 0;
}

.soundcloud-img {
  width: 100%;
}
/* end soundcloud */

/* end artist */

/* states */
.visible {
    opacity: 1;
}

/* Related */
aside{
    width: 100%;
    font-size: 2em;
}
aside h3{
    font-size: 2.5em;
}
aside #related_artists{
    width: 100%;
    display: flex;
    overflow-x: auto;
}
aside #related_artists .artists{
    width: 150px;
    margin: 20px;
    height: 150px;
    flex-shrink: 0;
    position: relative;
}
aside #related_artists .artists h4{
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
}
#related_artists .artists .image-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    clip-path: circle(50% at 50% 50%);
}
aside #related_artists .artists .image-container img{
    width: 100%;
    height: 100%;
}
