.search-bar {
    display: flex;
    margin: 15px;
}
.search-bar .btn.btn-save{
    border-radius: 0 40px 40px 0;
}

#search {
    font-size: 1rem;
    outline: none;
    padding: .75rem;
    padding-left: 1rem;
    width: 70%;
    border-radius: 40px 0px 0 40px;
    border: none;
    display: block;
}
.search-bar .btn.btn-save,
#search{
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/* Search Results 
------------------------------ */
#results{
    margin: auto;
}
.result-item{
    display: flex;
    margin: 1rem;
    margin-left: 0;
    width: 80%;
}

.result-link {
    display: flex;
    color: var(--color-btn);
}

.result-link:hover, 
.result-link:hover .result-img, 
.result-link:focus {
    color: var(--color-btn-hover);
    border-color: var(--color-btn-hover);
}

.result-img{
    width: 6rem;
    height: 6rem;
    border-radius: 100px;
    border: 1px solid var(--color-btn);
}

.result-name {
    padding-top: 10%;
    font-size: 1.25rem;
    margin-left: 1.5rem;
}
/* end search results */
