header.search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search h2{
    text-align: center;
    margin: 20px;
    font-size: 35px;
}
.search-main {
    padding: 1rem;
}
.search-bar {
    display: flex;
    margin: 15px;
}
.search-bar .btn.btn-save{
    border-radius: 0 40px 40px 0;
}

.search-main .error{
    width: 100%;
}
h3.nothing{
    color: white;
    text-align: center;
}
#search {
    font-size: 1rem;
    outline: none;
    padding: .75rem;
    padding-left: 1rem;
    width: 100%;
    border-radius: 40px;
    border: none;
    display: inline-block;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background: var(--second-bg-color);
    color: white;
}
.input-container{
    margin: auto;
    position: relative;
    display: inline-block;
    width: 90%;
}
.input-container i{
    position: absolute;
    color: white;
    right: 15px;
    font-size: 15px;
    top: 10px;
    opacity: 0;
    cursor: pointer;
    transition: .25s;
}
.input-container i.reveal{
    opacity: .3;
}

/* Search Results 
------------------------------ */
#results{
    margin: auto;
}
.result-item{
    display: flex;
    margin: 1rem;
    margin-left: 0;
    width: 80%;
    max-height: 0;
    animation: heightAnim 2s forwards;
}
.result-img.border{
    border: 3px solid #7f6bff;
}

@keyframes heightAnim{
    to{
        max-height: 300px;
    }
}

.result-link {
    display: flex;
    color: var(--color-btn);
}

.result-link:hover, 
.result-link:hover .result-img, 
.result-link:focus {
    color: var(--color-btn-hover);
    border-color: var(--color-btn-hover);
}

.result-img{
    width: 6rem;
    height: 6rem;
    border-radius: 100px;
    border: 1px solid var(--color-btn);
}

.result-name {
    padding-top: 10%;
    font-size: 1.25rem;
    margin-left: 1.5rem;
}
/* end search results */
